@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/****************************************
     VARIABLES
****************************************/
:root {
  --vh: 1vh;
}

$font-weights: (
  'light': 300,
  'regular': 400,
  'medium': 500,
  'bold': 700,
);

$fonts: (
  'main': 'Quicksand',
);

$colors: (
  'main': #9a6db5,
);

$header-pad: 12% 2rem 5%;

/****************************************
     FUNCTIONS & MIXINS
****************************************/
@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@function font($font-name) {
  @return map-get($fonts, $font-name), sans-serif;
}

@mixin query($size, $wid_hei: width, $max_min: max) {
  @if $size == portrait {
    @media (orientation: portrait) {
      @content;
    }
  } @else if $size == ratio {
    @media (max-aspect-ratio: ($wid_hei / $max_min)) {
      @content;
    }
  } @else if $size == landscape {
    @media (orientation: portrait) {
      @content;
    }
  } @else {
    @media (#{$max_min}-#{$wid_hei}: #{$size / 16}em) {
      @content;
    }
  }
}

@mixin flex-center($column: false) {
  display: flex;
  justify-content: center;
  align-items: center;

  @if $column == true {
    flex-direction: column;
  }
}

@mixin flex($hor: null, $ver: null, $dir: null) {
  display: flex;

  @if $hor != null {
    justify-content: $hor;
  }

  @if $ver != null {
    align-items: $ver;
  }

  @if $dir != null {
    flex-direction: $dir;
  }
}

@mixin box-shadow($x: 1, $y: $x, $blur: $x, $opacity: $x, $inset: null) {
  @if $x == remove {
    box-shadow: 0 0 0 rgba(black, 0);
  } @else if $inset != null {
    box-shadow: inset calc($x * 1rem) calc($y * 1rem) calc($blur * 1rem) rgba(0, 0, 0, $opacity);
  } @else {
    box-shadow: calc($x * 1rem) calc($y * 1rem) calc($blur * 1rem) rgba(0, 0, 0, $opacity);
  }
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

$border: solid 3px color(main);
